
@{
    ViewData["Title"] = "Connected";
}

<div class="text-center">
    <h3 class="text-info">App has already connected with Xero</h3>
    <a class="ui  button" href="/invoices/create" style="color:white;background-color:#13B5EA;">Let's rock!</a>
</div>

